<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul> 
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Help", help_path %></li> 
      <li><%= link_to "Log In", login_path %></li>
    </u1>
  </nav>
</header>